{% assign thesis = data.thesis %}
{% if thesis and thesis.display %}
<section class="section experiences-section">
    <div class="section-title">
        {{ thesis.title }}
    </div>

    {% for thes in thesis.items %}
    <div class="item">

        <div class="upper-row">
            <div class="company">
                {{ thes.role }}
                {% if thes.tag %}
                <small>[{{ thes.tag }}]</small>
                {% endif %}
            </div>
            <div class="time">{{ thes.time }}</div>
        </div>

        {% if thes.details %}
        <div class="details" style="padding-left:20px">
            {{ thes.details | markdownify }}
        </div>
        {% endif %}

    </div>
    {% endfor %}

</section>
{% endif %}